/* Containers */
.flex {
    display: flex;
    align-items: center;
}

.flex-end {
    align-items: flex-end;
}

.container-flex {
    display: flex;
    justify-content: center;
}

.right {
    justify-content: space-between;
}

.dropdown-menu.show {
    display: block;
    position: absolute;
    top: 40px;
}

/* Typography */
.create-form h1 {
    padding: {
        right: 1.5em;
        left: 1.5em;
    };
}

.form-text-error {
    margin-left: 0.2rem;
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--bs-red);
}

/* Buttons, Links */
td a {
    color: var(--bs-gray);
}

button a {
    text-decoration: none;
    color: var(--bs-gray-100);
}

.btn-outline-danger a {
    color: var(--bs-red);
}

.btn-outline-danger:hover > a {
    color: var(--bs-white);
}

button a:hover {
    color: var(--bs-white);
}

.btn-outline-danger {
    margin-left: 1rem;
}
