/* Containers */
.flex {
  display: flex;
  align-items: center;
}

.flex-end {
  align-items: flex-end;
}

.container-flex {
  display: flex;
  justify-content: center;
}

.right {
  justify-content: space-between;
}

.dropdown-menu.show {
  display: block;
  position: absolute;
  top: 40px;
}

/* Typography */
.create-form h1 {
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.form-text-error {
  margin-left: 0.2rem;
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--bs-red);
}

/* Buttons, Links */
td a {
  color: var(--bs-gray);
}

button a {
  text-decoration: none;
  color: var(--bs-gray-100);
}

.btn-outline-danger a {
  color: var(--bs-red);
}

.btn-outline-danger:hover > a {
  color: var(--bs-white);
}

button a:hover {
  color: var(--bs-white);
}

.btn-outline-danger {
  margin-left: 1rem;
}

/* Container */
.navigation-header {
  background-color: var(--bs-white);
  overflow: hidden;
  z-index: 10;
  /* Nav */
}
.navigation-header .navigation {
  font-size: 1rem;
  margin: 1em auto 1.5em;
  padding: 0 1.05em;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  /* Link */
}
.navigation-header .navigation a {
  color: var(--bs-gray-900);
  font-size: 1.1em;
  font-weight: 800;
  text-decoration: none;
  position: relative;
  border-radius: 4px;
  padding: 0.575em 0.65em;
  display: inline-block;
  z-index: 20;
}
.navigation-header .navigation a:focus, .navigation-header .navigation a:hover {
  color: var(--bs-blue);
}
.navigation-header .navigation a.router-link-exact-active {
  color: var(--bs-blue);
}

